.form-red {
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.form-red input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 10px;
    border: none;
    outline: none;
}

.form-red label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #990000;
}

.form-red label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #990000;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.5s ease;
}

.form-red input:focus + .label-name .content-name,
.form-red input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #990000;
}


.form-red input:focus + .label-name::after,
.form-red input:valid + .label-name::after{
    transform: translateX(0%);
}

.form {
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 10px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #000099;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #000099;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.5s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #000099;
}


.form input:focus + .label-name::after,
.form input:valid + .label-name::after{
    transform: translateX(0%);
}